
$dot-size: 10;


.dots {
  width: 1456px;
  margin: 0 auto;

  &__group {
    position: relative;
    display: block;
    margin: 3px auto;
    @include clearfix();
  }

  &__item {
    display: inline-block;
    float: left;

    width: #{$dot-size}px;
    height: #{$dot-size}px;
    margin: 1px;

    border: 1px solid $dot-color;
    border-radius: 50%;

    &--full {
      border-color: $dot-color--selected;
      background-color: $dot-color--selected;
    }
  }
}

@media screen and (min-device-width: 932px) {
  .dots {
    width: 832px;
    &__item {
      width: #{$dot-size - 6}px;
      height: #{$dot-size - 6}px;
    }
  }
}
@media screen and (min-device-width: 1140px) {
  .dots {
    width: 1040px;
    &__item {
      width: #{$dot-size - 4}px;
      height: #{$dot-size - 4}px;
    }
  }
}
@media screen and (min-device-width: 1348px) {
  .dots {
    width: 1248px;
    &__item {
      width: #{$dot-size - 2}px;
      height: #{$dot-size - 2}px;
    }
  }
}
@media screen and (min-device-width: 1556px) {
  .dots {
    width: 1456px;
    &__item {
      width: #{$dot-size}px;
      height: #{$dot-size}px;
    }
  }
}

.group {
  &__title {
    position: absolute;
    top: 0;
    left: -40px;

    h1 {
      font-size: 2.4rem;
      font-weight: 100;
    }
  }
}
